# Python
__pycache__/
*.py[cod]
*.egg-info/

# Node
frontend/node_modules/

# Virtual envs
venv/
.env

# Others
.DS_Store
backend/tests/__pycache__/

# Data artifacts
data/raw/
data/processed/
data/interim/
data/external/

